:root {
  --orange-color: #ffa500;
  --gray-color: #808080;
  --header-height: 95px;
  --less-900-margins: 50px;
  --less-700-margins: 10px;
  --title-font-size: calc(15px + 1.5vw);
  --slow-transition: all 0.5s ease-in;
  --fast-transition: all 0.2s ease-in;
  --footer-height: 30px;
}

/* =============================================================================
   - position is relative so I can place the footer at the bottom, using absolute. 
   - it should be min-height of 100vh to accomodate a short page.
   - by default, the browser sets some margin. I eliminate it. 
============================================================================= */
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #ebebeb;
}

/* =============================================================================
  - using flex so elements follow each other horizontally. 
  - sticky position is preferable over fixed since it keeps the element part of the flow. 
  - width of the entire screen
  - z-index will make it on top of any other element (the position property removes it from the normal flow.)
============================================================================= */
header {
  display: flex;
  position: sticky;
  top: 0;
  background: linear-gradient(to right, orange, yellow);
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

/* This is an "invisble div". It's used to enlarge the area into which images can be dropped into
(to replace the header's image). Otherwise, the user would have to aim exactly at the circular image. */
header #dragged-into-div {
  position: absolute;
  top: 5px;
  left: 150px;
  width: 200px;
  height: 200px;
}

/* - The element is placed relative to it's containing container at 0,0.
   - The border-radius makes the image round. 
   - The image also has a border, but it's assigned by the javascript. */
header #dragged-into-div #header-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 125px;
  border-radius: 50%;
}

/* The header image would change it's style upon being dragged into to create a "hint" for the user. 
the img-hovered class is added and removed upon dragenter() dragleave() events. */
header #dragged-into-div #header-img.img-hovered {
  transition: var(--slow-transition);
  width: 150px;
  padding: 5px;
}

/* =============================================================================
  - flex would allow me later on to arrange them vertically.
  - margin-left:auto;  would push the element all the way to the right. 
  - "auto" : taking up available space!!!!!!
  - the 100% height would strech the div element to the height of its container.
  - under 600px flex elements are vertically ordered and centered through margin property.
============================================================================= */
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
  margin-left: auto;
  height: 100%;
}

/* =============================================================================
For the top navigation menu anchors:
  - no underline 
  - font size depends on the viewport width (1.5vw) but would be at least 15px.
  - I need to  use padding and not margin to show a gap with the border
  - vertical line separator through border-right
============================================================================= */
header nav a {
  text-decoration: none;
  font-family: Oswald;
  font-weight: 100;
  font-size: var(--title-font-size);
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  height: auto;
  border-right: 2px solid black;
}

header nav a:last-child {
  padding-right: 0px;
}

/* so the last menu entry doesn't have a vertical line */
header nav a:last-child {
  border-right: none;
}

header nav a:hover {
  color: #ff9900;
}

main {
  position: relative;
  text-align: center;
}

.middle-section {
  padding-bottom: calc(var(--footer-height) * 2);
}

/* font size depends on the viewport width */
main h1 {
  font-family: Oswald;
  font-weight: 100;
  font-size: var(--title-font-size);
  margin-top: 5px;
  margin-bottom: 5px;
}

/* =============================================================================
About Section
============================================================================= */
/* in order to center an absolute positioned element I'm using the position figures below */
#about-main #img-frame {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#about-main #img {
  margin-top: 45px;
  margin-bottom: 40px;
  width: 210px;
  animation-name: fade-in;
  animation-duration: 15s;
}

#about-main #animated-title {
  animation: slide-in 5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

#about-section div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr;
  width: 50vw;
  margin: auto;
  text-align: left;
}

#about-section span.title {
  text-align: right;
  font-family: 'Big Shoulders Display';
  font-size: 2vw;
  border-top: 1px solid #ff7f50;
  margin-top: 3px;
}

#about-section span.content {
  font-family: calibri;
  font-weight: 100;
}

/* ul has a too large default margin. */
#about-section ul {
  margin: 0;
  list-style-type: square;
}

/* =============================================================================
The Grid
============================================================================= */
#spinner-div {
  height: 100vh;
  top: 100px;
}

#grid-section {
  margin-left: 150px;
  margin-right: 150px;
  font-family: calibri;
}

#grid-section>#title {
  font-size: 2vw;
}

/* ul is a block element and so need to turn it into inline-block in order to center it. */
#grid-section ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding-left: 55px;
  margin-top: 0px;
}

#grid-section ul li {
  margin-top: 7px;
}

#grid-section ul li:last-child {
  margin-top: 10px;
}

#grid-section ul li::before {
  content: url('images/bullet-icon-new.png');
  margin-right: 4px;
  display: inline-block;
}

#select-option-div {
  display: inline-block;
  cursor: pointer;
}

#select-option-div select {
  padding: 3px;
  width: 150px;
  border-radius: .2em;
  font-size: 13px;
  background: linear-gradient(to bottom, #ffffff, orange);
  outline: none;
}

/* I chose box-shadow rather then border manipulation to avoid "jitter" */
#select-option-div select:hover {
  box-shadow: 0 0 2px 2px var(--gray-color);
  cursor: pointer;
}

#select-option-div select option {
  background: #ffffcc;
}

hr {
  margin-bottom: 20px;
}

/* =============================================================================
  - grid-template-columns: auto-fit so the number of elems horizontally changes.
  - fr unit is grid specifc. fraction. The item would grow and shrink basd on the available space.
  - repeat function would repeat a pattern i.e. repeat(3, 1fr); instead of 1fr 1fr 1fr;
  - auto-fit for responsiveness. Can be used with repeat() in order to avoid specifiying a fix number of columns. 
  - minmax function defines the range i.e. from 320px to 1fr
  - grid-gap would set gap between items 
  - the grid determines the WIDTH of the img. Since the imgs are square the HEIGHT would equal the WIDTH.
============================================================================= */
.blurred {
  filter: blur(12px);
  transition: var(--fast-transition);
}

.un-blurred {
  filter: none;
  transition: var(--fast-transition);
}

.dynamic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

/* it's relative so the heart can be placed absolutely */
.grid-item {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid black;
  font-size: 13px;
  text-align: center;
  margin: 0px;
}

/* would transition all properties that their valued changed (trans, color, shadow) */
.grid-item:hover {
  transition: var(--slow-transition);
  transform: scale(1.1);
  background-color: #ffa500;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.33);
}

/* the img width would fit the parent (div) element 100% */
.grid-item .grid-image {
  width: 100%;
  border-bottom: 1px solid black;
}

/* initially the heart size is 15px. Onclick, it's animated to 20px and back twice */
.grid-item .heart {
  position: absolute;
  width: 15px;
  top: 5px;
  right: 5px;
}

.grid-item .animatedHeartBeat {
  animation: heartBeat;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes heartBeat {
  from {
    width: 15px;
  }

  to {
    width: 20px;
  }
}

.grid-item figcaption {
  margin-bottom: 5px;
}

.heart-likes-icon {
  width: 11px;
}


/* =============================================================================
The Modal
============================================================================= */
/* - Initally it's hidden (display:none).
   - blurring the rest of the viewport with background-color.
   - z-index would place the modal on top when active. */
#modal-container-div {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* the button postion is in relation to its container div - modal-cotainer-div */
#modal-container-div .nav-button {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 100px;
  background-color: var(--orange-color);
  border: 1px solid black;
  font-size: 15px;
  font-weight: 400;
  font-family: calibri;
  outline: none;
}

#modal-container-div .button:hover {
  box-shadow: 1px 1px 4px black;
  font-weight: 600;
}

#modal-container-div #prev-btn {
  left: 10px;
}

#modal-container-div #next-btn {
  right: 10px;
}

/* - it's relative so the footer/caption can be placed absolutely. 
   - the top part is right underneath the header (its height + 2px for border); 
   - the width is determined in the Javascript based on the img propotions. */
#modal-content-div {
  position: relative;
  top: calc(var(--header-height) + 2px);
  margin: auto;
  background-color: #fefefe;
}

#modal-img-div {
  padding: 25px 25px 25px 25px;
  font-family: calibri;
  font-size: 13px;
}

/* Modal image should be the width of the containing div */
#modal-img-div>img {
  width: 100%;
  border: 1px solid black;
}

/* the image's caption is placed a little over the bottom and centered. */
#modal-img-div .modal-img-caption {
  position: absolute;
  bottom: 7px;
}

#modal-img-div #modal-img-text {
  left: 25px;
}

#modal-img-div #modal-img-like-count {
  right: 25px;
}

/* The modal-img-close-btn Button */
.modal-img-close-btn {
  position: relative;
  right: 5px;
  color: var(--orange-color);
  float: right;
  font-size: 25px;
  font-weight: bold;
}

/* Change the close btn color and cursor */
.modal-img-close-btn:hover,
.modal-img-close-btn:focus {
  color: black;
  cursor: pointer;
}

/* The footer is placed at the bottom relative to its containing element (not the vp). 
  If line-height is the same figure as height, element would be centered vertically.
   */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: var(--footer-height);
  line-height: var(--footer-height);
  border-top: 1px solid var(--gray-color);
  background-color: #d3d3d3;
}

/* The 1st and last spans r styled 'italic' yet the divider char is not. */
footer span:first-child,
footer span:last-child {
  font-family: calibri;
  font-style: italic;
  font-size: 15px;
}

footer img {
  vertical-align: middle;
  width: 15px;
}

/* =============================================================================
   Fan Form
============================================================================= */
#form-header {
  margin: auto;
  width: 500px;
  font-family: calibri;
  text-align: left;
}

#form-header ul {
  list-style-type: square;
}

/* Center the form on the page */
form {
  margin: auto;
  width: 400px;
  padding: 3em;
  border: 1px solid #cccccc;
  border-radius: 1em;
  background-color: #f8f8f8;
  font-family: calibri;
}

/* place some top margin for all div's except the 1st one */
form div+div {
  margin-top: 1em;
}

form .required {
  color: var(--orange-color);
}

/* since label is an inline element, using inline-block would allow specifying width */
form label {
  display: inline-block;
  width: 80px;
  text-align: right;
}

/* ouline: none; removes the blue outline */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  font: 1em calibri;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  box-shadow: 1px 1px 4px #C0C0C0;
  outline: none;
}

/* since all other input element are 300px wide, here there r multiple inputs (radio btns) */
#radio-btns-div {
  display: inline-block;

  text-align: left;
  width: 300px;
}

/* Additional highlight for focused elements */
input:focus,
textarea:focus {
  border: 1px solid #ffad33;
}

/* Align textarea with the labels */
textarea {
  vertical-align: top;
  height: 5em;
}

/* center the submit button. Same size as the label elements */
form .button {
  padding-left: 80px;
}

form button {
  height: 33px;
}

/* =============================================================================
   Media Queries
============================================================================= */
/* the nav elements should be placed vertically and in the center */
@media screen and (max-width: 900px) {
  header {
    justify-content: center;
  }

  header #dragged-into-div {
    width: 150px;
    left: var(--less-900-margins);
  }

  header #dragged-into-div #header-img {
    width: 105px;
  }

  header nav {
    margin-right: var(--less-900-margins);
  }

  #about-section span.title {
    font-size: 18px;
  }

  #about-section div {
    width: 70vw;
  }

  #grid-section {
    margin-left: var(--less-900-margins);
    margin-right: var(--less-900-margins);
  }

  #form-header {
    width: 400px;
  }

  form {
    width: 300px;
    padding: 1.5em;
  }

  form div {
    text-align: left;
  }

  form label {
    display: block;
    text-align: left;
  }

  form .button {
    padding-left: 100px;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 75px;
  }

  header #dragged-into-div {
    width: 125px;
    left: var(--less-700-margins);
  }

  header #dragged-into-div #header-img {
    width: 85px;
  }

  header nav {
    margin-right: var(--less-700-margins);
  }

  #about-section div {
    width: 90vw;
  }

  #grid-section {
    margin-left: var(--less-700-margins);
    margin-right: var(--less-700-margins);
  }

  #modal-content-div {
    width: 95vw;
  }

  #modal-container-div .nav-button {
    width: 30px;
  }

  #modal-container-div .button-text {
    display: none;
  }

  #modal-container-div #prev-btn {
    left: 0;
  }

  #modal-container-div #next-btn {
    right: 0;
  }

  /* the two footer spans are split veritically */
  footer {
    height: 40px;
    line-height: 20px;
  }

  #footer-divider {
    visibility: hidden;
  }

  #footer-copyright {
    display: block;
  }
}